<#-- @ftlvariable name="myUser" type="com.rajwa.debird.Model.DebirdApp.User" -->
<html>
<head>
    <title>Welcome!</title>
</head>

<body>
    Hi welcome in our app to activate your email please click the link;

    <a href="${myUser.getUrlWithToken()}">Please click to activate your account!</a>

</body>
</html>